{
    "openapi": "3.0.3",
    "info": {
        "title": "MGX Enterprise API",
        "version": "1.0.0",
        "description": "Public REST API for grain elevators and enterprise buyers. Browse anonymized inventory, place bids, read your team's trades and bids, manage cash bids, subscribe to webhooks, and read market prices. Authenticate with OAuth2 (Login with MGX). Seller identity is never exposed until a trade is paid on both sides.",
        "contact": {
            "name": "MGX Developer Support",
            "url": "https://developers.mygrainexchange.com"
        }
    },
    "servers": [
        {
            "url": "https://api.mygrainexchange.com/v1",
            "description": "Production"
        },
        {
            "url": "https://dashboard.mgx.test/v1",
            "description": "Local (Herd)"
        }
    ],
    "security": [
        {
            "oauth2": [
                "inventory.read"
            ]
        }
    ],
    "tags": [
        {
            "name": "Inventory",
            "description": "Browse and filter anonymized grain listings."
        },
        {
            "name": "Market",
            "description": "Commodity reference data, current and historical prices."
        },
        {
            "name": "Bids",
            "description": "Place bids, read your team's bids, and act on counter-offers."
        },
        {
            "name": "Trades",
            "description": "Read your team's own completed trades."
        },
        {
            "name": "Teams",
            "description": "Read the teams the authenticated user belongs to."
        },
        {
            "name": "Cash Bids",
            "description": "Manage the elevator's own cash bids and their offers."
        },
        {
            "name": "Analysis",
            "description": "Request grain sample analysis (graded by SGS) on inventory you own or manage, and read results."
        },
        {
            "name": "Webhooks",
            "description": "Subscribe to event notifications and inspect deliveries."
        }
    ],
    "paths": {
        "/inventory": {
            "get": {
                "operationId": "inventoryList",
                "tags": [
                    "Inventory"
                ],
                "summary": "Browse & filter anonymized inventory",
                "description": "Returns a paged, anonymized list of grain listings. Seller identity, farm name, and exact coordinates are never included.",
                "security": [
                    {
                        "oauth2": [
                            "inventory.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "commodity",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Commodity slug(s), comma-separated, e.g. wheat,canola."
                    },
                    {
                        "name": "grade",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Grade code, e.g. 1CWRS."
                    },
                    {
                        "name": "min_quantity",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        },
                        "description": "Minimum tonnes (MT). Interpreted in `?units=` (default MT)."
                    },
                    {
                        "name": "max_quantity",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        },
                        "description": "Maximum tonnes (MT). Interpreted in `?units=` (default MT)."
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Coarse location filter, e.g. SK, AB."
                    },
                    {
                        "name": "near",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "lat,lng,radius_km \u2014 radius search against coarse city centroids."
                    },
                    {
                        "name": "crop_year",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_organic",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "min_protein",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "price",
                                "-price",
                                "quantity",
                                "-quantity",
                                "listed_at",
                                "-listed_at"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of inventory",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InventoryPage"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/inventory/filters": {
            "get": {
                "operationId": "inventoryFilters",
                "tags": [
                    "Inventory"
                ],
                "summary": "Facet metadata for filters",
                "description": "Returns the distinct commodities, grades, provinces, and crop years currently available.",
                "security": [
                    {
                        "oauth2": [
                            "inventory.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available filter facets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InventoryFilters"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/inventory/{id}": {
            "get": {
                "operationId": "inventoryGet",
                "tags": [
                    "Inventory"
                ],
                "summary": "Get one anonymized listing",
                "security": [
                    {
                        "oauth2": [
                            "inventory.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Public inventory id, e.g. inv_3Kd9aZ."
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inventory resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InventoryEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/inventory/{id}/bids": {
            "post": {
                "operationId": "bidPlace",
                "tags": [
                    "Bids"
                ],
                "summary": "Place a bid on a listing",
                "description": "Places a bid on behalf of the authenticated user's team. Requires a user-context (authorization-code) token bound to a team. Send an Idempotency-Key header to make retries safe.",
                "security": [
                    {
                        "oauth2": [
                            "bids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Public inventory id."
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Same key + identical body returns the original bid (201); a different body returns 409."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlaceBid"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bid created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BidEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        },
        "/bids": {
            "get": {
                "operationId": "bidList",
                "tags": [
                    "Bids"
                ],
                "summary": "List the team's own bids",
                "security": [
                    {
                        "oauth2": [
                            "bids.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "accepted",
                                "rejected",
                                "countered",
                                "expired"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of bids",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BidPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/bids/{id}": {
            "get": {
                "operationId": "bidGet",
                "tags": [
                    "Bids"
                ],
                "summary": "Get one of the team's bids",
                "security": [
                    {
                        "oauth2": [
                            "bids.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Public bid id, e.g. bid_7Qp2."
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bid resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BidEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/bids/{id}/accept": {
            "post": {
                "operationId": "bidAccept",
                "tags": [
                    "Bids"
                ],
                "summary": "Accept a counter-offer",
                "description": "Accepts a counter-offer on one of the team's bids; creates a trade.",
                "security": [
                    {
                        "oauth2": [
                            "bids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bid accepted; trade created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TradeEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/bids/{id}/reject": {
            "post": {
                "operationId": "bidReject",
                "tags": [
                    "Bids"
                ],
                "summary": "Reject a counter-offer",
                "security": [
                    {
                        "oauth2": [
                            "bids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bid rejected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BidEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/bids/{id}/counter": {
            "post": {
                "operationId": "bidCounter",
                "tags": [
                    "Bids"
                ],
                "summary": "Counter a bid",
                "security": [
                    {
                        "oauth2": [
                            "bids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlaceBid"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Counter created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BidEnvelope"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        },
        "/market/commodities": {
            "get": {
                "operationId": "marketCommodities",
                "tags": [
                    "Market"
                ],
                "summary": "Commodities with market-price coverage",
                "security": [
                    {
                        "oauth2": [
                            "market.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of commodities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketCommodityList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ]
            }
        },
        "/market/prices": {
            "get": {
                "operationId": "marketPrices",
                "tags": [
                    "Market"
                ],
                "summary": "Market prices, current or as-of a date",
                "security": [
                    {
                        "oauth2": [
                            "market.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "commodity",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Commodity slug(s), comma-separated."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "description": "Returns the price as-of that date instead of the current price."
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prices per commodity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketPriceList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/market/prices/{commodity}/history": {
            "get": {
                "operationId": "marketHistory",
                "tags": [
                    "Market"
                ],
                "summary": "Price history for a commodity",
                "security": [
                    {
                        "oauth2": [
                            "market.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "commodity",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Commodity slug, e.g. wheat."
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "day",
                                "week"
                            ],
                            "default": "day"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Time series of prices",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PriceHistory"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/trades": {
            "get": {
                "operationId": "tradeList",
                "tags": [
                    "Trades"
                ],
                "summary": "The team's own trades",
                "security": [
                    {
                        "oauth2": [
                            "trades.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "commodity",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of trades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TradePage"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/trades/{id}": {
            "get": {
                "operationId": "tradeGet",
                "tags": [
                    "Trades"
                ],
                "summary": "Get one of the team's trades",
                "security": [
                    {
                        "oauth2": [
                            "trades.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Public trade id, e.g. trd_2Ws4."
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trade resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TradeEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/teams": {
            "get": {
                "operationId": "teamList",
                "tags": [
                    "Teams"
                ],
                "summary": "Teams the user belongs to",
                "security": [
                    {
                        "oauth2": [
                            "teams.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of teams with roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/teams/{id}": {
            "get": {
                "operationId": "teamGet",
                "tags": [
                    "Teams"
                ],
                "summary": "Get one team",
                "security": [
                    {
                        "oauth2": [
                            "teams.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Public team id, e.g. tm_5Lp8."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/cash-bids": {
            "get": {
                "operationId": "cashBidList",
                "tags": [
                    "Cash Bids"
                ],
                "summary": "The elevator's own cash bids",
                "security": [
                    {
                        "oauth2": [
                            "cashbids.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "is_active",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "commodity",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of cash bids",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashBidPage"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "post": {
                "operationId": "cashBidCreate",
                "tags": [
                    "Cash Bids"
                ],
                "summary": "Publish a cash bid",
                "security": [
                    {
                        "oauth2": [
                            "cashbids.write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCashBid"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cash bid created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashBidEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        },
        "/cash-bids/{id}": {
            "patch": {
                "operationId": "cashBidUpdate",
                "tags": [
                    "Cash Bids"
                ],
                "summary": "Update a cash bid",
                "security": [
                    {
                        "oauth2": [
                            "cashbids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Public cash bid id, e.g. cb_9Xa1."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCashBid"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated cash bid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashBidEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        },
        "/cash-bids/{id}/offers": {
            "get": {
                "operationId": "cashBidOffers",
                "tags": [
                    "Cash Bids"
                ],
                "summary": "Offers against a cash bid",
                "description": "Offers received on one of the elevator's cash bids. The offering party is masked until the resulting trade is settled.",
                "security": [
                    {
                        "oauth2": [
                            "cashbids.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of offers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashBidOfferPage"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/cash-bid-offers/{id}/accept": {
            "post": {
                "operationId": "cashBidOfferAccept",
                "tags": [
                    "Cash Bids"
                ],
                "summary": "Accept a cash-bid offer",
                "security": [
                    {
                        "oauth2": [
                            "cashbids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Offer accepted; trade created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TradeEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/cash-bid-offers/{id}/reject": {
            "post": {
                "operationId": "cashBidOfferReject",
                "tags": [
                    "Cash Bids"
                ],
                "summary": "Reject a cash-bid offer",
                "security": [
                    {
                        "oauth2": [
                            "cashbids.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Offer rejected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CashBidOfferEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/webhooks": {
            "get": {
                "operationId": "webhookList",
                "tags": [
                    "Webhooks"
                ],
                "summary": "List webhook subscriptions",
                "security": [
                    {
                        "oauth2": [
                            "webhooks.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "post": {
                "operationId": "webhookCreate",
                "tags": [
                    "Webhooks"
                ],
                "summary": "Register a webhook subscription",
                "description": "Creates a subscription. The signing secret is returned once in the response and never again.",
                "security": [
                    {
                        "oauth2": [
                            "webhooks.write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Webhook"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subscription created; secret returned once",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookCreatedEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        },
        "/webhooks/{id}": {
            "delete": {
                "operationId": "webhookDelete",
                "tags": [
                    "Webhooks"
                ],
                "summary": "Delete a webhook subscription",
                "security": [
                    {
                        "oauth2": [
                            "webhooks.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Deleted"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/webhooks/{id}/deliveries": {
            "get": {
                "operationId": "webhookDeliveries",
                "tags": [
                    "Webhooks"
                ],
                "summary": "Recent delivery attempts (debugging)",
                "security": [
                    {
                        "oauth2": [
                            "webhooks.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of delivery records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookDeliveryPage"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/delivery-locations": {
            "get": {
                "tags": [
                    "Bids"
                ],
                "summary": "List your elevator's delivery locations",
                "description": "Returns the caller's own elevator delivery locations. Use the integer `id` as `delivery_location_id` when placing a delivered (non-FOB) bid or a cash bid.",
                "security": [
                    {
                        "oauth2": [
                            "locations.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of delivery locations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "formatted": {
                                                        "type": "string"
                                                    },
                                                    "city": {
                                                        "type": "string"
                                                    },
                                                    "province": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/me/farms": {
            "get": {
                "tags": [
                    "Listings"
                ],
                "summary": "List your own farms",
                "description": "Your own farms. With farms.read the response includes the farm name and coordinates; without it (e.g. an anonymous-submission platform) only an opaque id + coarse location is returned.",
                "security": [
                    {
                        "oauth2": [
                            "listings.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "farms.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of farms"
                    }
                }
            },
            "post": {
                "tags": [
                    "Listings"
                ],
                "summary": "Create a farm",
                "security": [
                    {
                        "oauth2": [
                            "farms.write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreFarm"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Farm created"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/me/inventory": {
            "get": {
                "tags": [
                    "Listings"
                ],
                "summary": "Your own inventory listings",
                "security": [
                    {
                        "oauth2": [
                            "listings.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "listed",
                                "unlisted",
                                "archived"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of the seller's own listings (full detail)"
                    }
                }
            },
            "post": {
                "tags": [
                    "Listings"
                ],
                "summary": "Submit inventory (anonymized to buyers)",
                "description": "Creates a listing via the same core the MGX app uses. When list is true (default) it is published to the public anonymized marketplace immediately. Requires a valid payment method on file with MGX, and the listings.* scopes which are granted to approved partners (not self-service). The seller stays anonymous to all buyers until a trade settles.",
                "security": [
                    {
                        "oauth2": [
                            "listings.write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlaceListing"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Listing created (seller's full own view)"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "403": {
                        "description": "No payment method on file, or the client is not an approved partner for listings access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me/inventory/{id}": {
            "get": {
                "tags": [
                    "Listings"
                ],
                "summary": "Get one of your listings",
                "security": [
                    {
                        "oauth2": [
                            "listings.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/UnitsParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listing detail"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Listings"
                ],
                "summary": "Update a listing (price, quantity, list/unlist)",
                "security": [
                    {
                        "oauth2": [
                            "listings.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated listing"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Listings"
                ],
                "summary": "Archive a listing",
                "security": [
                    {
                        "oauth2": [
                            "listings.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archived"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/me/inventory/{id}/bids": {
            "get": {
                "tags": [
                    "Listings"
                ],
                "summary": "Bids received on a listing",
                "description": "Bids buyers placed on your listing. The buyer stays masked until both invoices are paid. Respond with POST /v1/bids/{id}/accept|reject|counter.",
                "security": [
                    {
                        "oauth2": [
                            "listings.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paging object of received bids"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/me/farms/{id}": {
            "get": {
                "tags": [
                    "Listings"
                ],
                "summary": "Get one of your farms (full detail)",
                "security": [
                    {
                        "oauth2": [
                            "farms.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Farm detail"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Listings"
                ],
                "summary": "Update a farm",
                "security": [
                    {
                        "oauth2": [
                            "farms.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreFarm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated farm"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/oauth/token": {
            "servers": [
                {
                    "url": "https://api.mygrainexchange.com",
                    "description": "Production"
                },
                {
                    "url": "https://dashboard.mgx.test/api",
                    "description": "Local (Herd)"
                }
            ],
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Issue or refresh an access token",
                "description": "Exchange credentials for an access token. Use `grant_type=authorization_code` to complete the Login with MGX flow, `grant_type=client_credentials` for machine-to-machine read-only access, or `grant_type=refresh_token` to obtain a new access token (and a rotated refresh token) before the current one expires. Access tokens live 15 days; refresh tokens live 30 days. This endpoint is unauthenticated \u2014 the client credentials are supplied in the body.",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "grant_type",
                                    "client_id",
                                    "client_secret"
                                ],
                                "properties": {
                                    "grant_type": {
                                        "type": "string",
                                        "enum": [
                                            "authorization_code",
                                            "client_credentials",
                                            "refresh_token"
                                        ],
                                        "description": "The OAuth2 grant type."
                                    },
                                    "client_id": {
                                        "type": "string",
                                        "example": "01988a76-1190-7010-a07c-2ed909d58f78"
                                    },
                                    "client_secret": {
                                        "type": "string",
                                        "description": "Required for confidential clients.",
                                        "example": "your-client-secret"
                                    },
                                    "refresh_token": {
                                        "type": "string",
                                        "description": "Required when `grant_type=refresh_token`. The refresh token returned by a previous token response.",
                                        "example": "def50200a1b2c3..."
                                    },
                                    "code": {
                                        "type": "string",
                                        "description": "Required when `grant_type=authorization_code`. The authorization code returned to your redirect URI."
                                    },
                                    "redirect_uri": {
                                        "type": "string",
                                        "description": "Required when `grant_type=authorization_code`. Must match the client's registered redirect URI."
                                    },
                                    "code_verifier": {
                                        "type": "string",
                                        "description": "The PKCE code verifier matching the `code_challenge` sent to the authorize endpoint."
                                    },
                                    "scope": {
                                        "type": "string",
                                        "description": "Space-delimited list of scopes. For a refresh, may be a subset of the originally granted scopes.",
                                        "example": "inventory.read bids.read"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A new access token. For authorization code and refresh grants, a rotated `refresh_token` is also returned; store it for the next refresh.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "description": "Access token lifetime in seconds (15 days).",
                                            "example": 1296000
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                                        },
                                        "refresh_token": {
                                            "type": "string",
                                            "description": "Omitted for the client_credentials grant.",
                                            "example": "def50200a1b2c3..."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid, expired, or already-used grant (e.g. a refresh token past its 30-day lifetime).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "invalid_grant"
                                        },
                                        "error_description": {
                                            "type": "string",
                                            "example": "The refresh token is invalid."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Client authentication failed (bad `client_id`/`client_secret`)."
                    }
                }
            }
        },
        "/oauth/revoke": {
            "servers": [
                {
                    "url": "https://api.mygrainexchange.com",
                    "description": "Production"
                },
                {
                    "url": "https://dashboard.mgx.test/api",
                    "description": "Local (Herd)"
                }
            ],
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Revoke an access or refresh token",
                "description": "Invalidate a token early \u2014 for example on logout or when rotating credentials. Pass `token_type_hint=refresh_token` to also revoke the refresh tokens associated with the access token, preventing further refreshes.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "description": "The token to revoke.",
                                        "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                                    },
                                    "token_type_hint": {
                                        "type": "string",
                                        "enum": [
                                            "access_token",
                                            "refresh_token"
                                        ],
                                        "description": "Hint for which token type is being revoked."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token revoked.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token revoked successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                }
            }
        },
        "/analysis-types": {
            "get": {
                "tags": [
                    "Analysis"
                ],
                "summary": "List grain sample analysis offerings",
                "description": "Grading offerings and pricing. Samples are graded by SGS; MGX orchestrates and bills. Partner clients see the wholesale price.",
                "operationId": "analysisTypes",
                "security": [
                    {
                        "oauth2": [
                            "analysis.read"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis offerings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalysisTypeList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/me/inventory/{id}/analysis": {
            "get": {
                "tags": [
                    "Analysis"
                ],
                "summary": "Get the analysis status and result for an inventory",
                "operationId": "analysisGet",
                "security": [
                    {
                        "oauth2": [
                            "analysis.read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis status/result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalysisEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "post": {
                "tags": [
                    "Analysis"
                ],
                "summary": "Request analysis on an inventory",
                "description": "Requests SGS grading on inventory you own (self-billed) or a seller your team manages (partner-billed). Emits analysis.requested, then analysis.sample_received, analysis.graded, analysis.photo_added.",
                "operationId": "analysisRequest",
                "security": [
                    {
                        "oauth2": [
                            "analysis.write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAnalysis"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Analysis requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalysisEnvelope"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "description": "Analysis already requested for this inventory",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "oauth2": {
                "type": "oauth2",
                "description": "Login with MGX (authorization code + PKCE) for user-context scopes; client credentials for read-only scopes.",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://api.mygrainexchange.com/oauth/authorize",
                        "tokenUrl": "https://api.mygrainexchange.com/oauth/token",
                        "refreshUrl": "https://api.mygrainexchange.com/oauth/token",
                        "scopes": {
                            "inventory.read": "Browse and filter anonymized inventory",
                            "market.read": "Read market commodities, prices, and price history",
                            "bids.read": "Read your team's bids",
                            "bids.write": "Place bids on behalf of your team",
                            "trades.read": "Read your team's trades",
                            "teams.read": "Read the teams you belong to",
                            "cashbids.read": "Read your cash bids and offers",
                            "cashbids.write": "Create and update your cash bids",
                            "listings.read": "Read your own inventory listings and the bids on them",
                            "listings.write": "Submit, update, and archive your inventory listings",
                            "farms.read": "See your farm names and locations",
                            "farms.write": "Create and edit your farms",
                            "analysis.read": "Read grain sample analysis offerings and graded results",
                            "analysis.write": "Request grain sample analysis on inventory you own or manage",
                            "locations.read": "Read your elevator delivery locations",
                            "webhooks.read": "Read your webhook subscriptions",
                            "webhooks.write": "Manage your webhook subscriptions",
                            "openid": "OpenID Connect sign-in",
                            "profile": "Basic profile information",
                            "email": "Your email address"
                        }
                    },
                    "clientCredentials": {
                        "tokenUrl": "https://api.mygrainexchange.com/oauth/token",
                        "scopes": {
                            "inventory.read": "Browse and filter anonymized inventory",
                            "market.read": "Read market commodities, prices, and history"
                        }
                    }
                }
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "Missing or invalid token",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "error": {
                                "status": 401,
                                "code": "unauthenticated",
                                "message": "Missing or expired token."
                            }
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "Token lacks the required scope or eligibility",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "error": {
                                "status": 403,
                                "code": "insufficient_scope",
                                "message": "This token is missing the required scope."
                            }
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Resource not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "error": {
                                "status": 404,
                                "code": "not_found",
                                "message": "Resource not found."
                            }
                        }
                    }
                }
            },
            "ValidationError": {
                "description": "Request failed validation",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": {
                            "error": {
                                "status": 422,
                                "code": "validation_failed",
                                "message": "The given data was invalid.",
                                "errors": [
                                    {
                                        "field": "quantity_mt",
                                        "message": "The quantity mt must be at least 0.01."
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "Error": {
                "description": "Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "required": [
                            "status",
                            "code",
                            "message"
                        ],
                        "properties": {
                            "status": {
                                "type": "integer",
                                "example": 422
                            },
                            "code": {
                                "type": "string",
                                "example": "validation_failed"
                            },
                            "message": {
                                "type": "string"
                            },
                            "errors": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "field": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Deleted": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "object",
                        "properties": {
                            "deleted": {
                                "type": "boolean",
                                "example": true
                            },
                            "id": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Money": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "example": 312.5
                    },
                    "currency": {
                        "type": "string",
                        "example": "CAD"
                    },
                    "unit": {
                        "type": "string",
                        "example": "MT"
                    },
                    "firm": {
                        "type": "boolean",
                        "nullable": true,
                        "description": "Present on asking prices; true when the price is firm."
                    }
                }
            },
            "Commodity": {
                "type": "object",
                "properties": {
                    "slug": {
                        "type": "string",
                        "example": "wheat"
                    },
                    "name": {
                        "type": "string",
                        "example": "Wheat"
                    }
                }
            },
            "Quality": {
                "type": "object",
                "description": "Non-identifying seller quality claims. All fields are optional.",
                "properties": {
                    "protein": {
                        "type": "number",
                        "nullable": true,
                        "example": 13.8
                    },
                    "moisture": {
                        "type": "number",
                        "nullable": true,
                        "example": 12.1
                    },
                    "test_weight": {
                        "type": "number",
                        "nullable": true
                    },
                    "dockage": {
                        "type": "number",
                        "nullable": true
                    },
                    "falling_number": {
                        "type": "number",
                        "nullable": true
                    }
                }
            },
            "Location": {
                "type": "object",
                "description": "Coarse location only \u2014 province + nearest city. Never the farm name or exact coordinates.",
                "properties": {
                    "province": {
                        "type": "string",
                        "example": "SK"
                    },
                    "nearest_city": {
                        "type": "string",
                        "example": "Saskatoon"
                    }
                }
            },
            "DateWindow": {
                "type": "object",
                "properties": {
                    "from": {
                        "type": "string",
                        "format": "date"
                    },
                    "to": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "Page": {
                "type": "object",
                "description": "Shared offset-pagination envelope.",
                "properties": {
                    "limit": {
                        "type": "integer",
                        "example": 20
                    },
                    "offset": {
                        "type": "integer",
                        "example": 0
                    },
                    "total": {
                        "type": "integer",
                        "example": 214
                    },
                    "next": {
                        "type": "string",
                        "nullable": true
                    },
                    "previous": {
                        "type": "string",
                        "nullable": true
                    },
                    "href": {
                        "type": "string"
                    }
                }
            },
            "Inventory": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "inv_3Kd9aZ"
                    },
                    "commodity": {
                        "$ref": "#/components/schemas/Commodity"
                    },
                    "variety": {
                        "type": "string",
                        "nullable": true
                    },
                    "grade": {
                        "type": "string",
                        "nullable": true,
                        "example": "1CWRS"
                    },
                    "is_organic": {
                        "type": "boolean"
                    },
                    "crop_year": {
                        "type": "integer",
                        "nullable": true,
                        "example": 2025
                    },
                    "quantity_mt": {
                        "type": "number",
                        "example": 86
                    },
                    "quantity": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Quantity"
                            }
                        ],
                        "description": "The same quantity rendered in the `?units=` unit (defaults to MT). `quantity_mt` is always MT."
                    },
                    "asking_price": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "nullable": true
                    },
                    "quality": {
                        "$ref": "#/components/schemas/Quality"
                    },
                    "location": {
                        "allOf": [
                            {
[...]
